<!--<html ng-app="writepage">
<head>
    &lt;!&ndash;Import Google Icon Font&ndash;&gt;
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab&subset=cyrillic,cyrillic-ext,latin' rel='stylesheet' type='text/css'>
    &lt;!&ndash;Import materialize.css&ndash;&gt;
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    &lt;!&ndash; Icons !&ndash;&gt;
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="css/ngDialog.css">
    <link type="text/css" rel="stylesheet" href="css/ngDialog-theme-default.css">

        <link type="text/css" rel="stylesheet" href="css/poemcss.css">

    &lt;!&ndash;Let browser know website is optimized for mobile&ndash;&gt;
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
	&lt;!&ndash; Import Jquery !&ndash;&gt;
 	<script src="jquery-2.2.0.min.js"></script>
	&lt;!&ndash; Angular library !&ndash;&gt;
	<script src="js/angular.min.js"></script>
	&lt;!&ndash; Modal service library !&ndash;&gt;
	<script src="js/ngDialog.js"></script>

	&lt;!&ndash; Other controllers !&ndash;&gt;
	<script src="js/poempage.js"></script>
	<script src="js/frontpage.js"></script>
	<script src="js/uppernavigationcontroller.js"></script>
	<script src="js/poemchoosecontroller.js"></script>
	<script src="js/poemdescriptioncontroller.js"></script>
	<script src="js/poempage.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>


  </head>
  <body >

  &lt;!&ndash; Navbar goes here &ndash;&gt;
   <upper-navigation ng-init="init()" ng-model="hashtags.tags" cb="myCallback(arg1)">
   </upper-navigation>-->
    <!-- Page Layout here -->
    <div class="row" ng-controller="PoemFieldController as fieldctrl" ng-init="firstLaunch()">

      <!-- Page Layout here -->
    <div class="row main-container">

      <div class="col s12 m2 l2 left hvr-glow scrollable " id="rhyme_scroll"> <!-- Note that "m4 l3" was added -->
        
			<div class="row"><h4 class="center-align">Словарь рифм</h4></div>
		    <form class="center-align" >
		        <div class="input-field center-align">
		          <!-- <i class="material-icons prefix">account_circle</i> -->
		          <input id="rhyme_field" type="text" class="validate flow-text">
		          <label for="rhyme_field">Слово</label>
		          </div>

		    </form>

		    <div class="row">
		    	<div ng-repeat="rhyme in RhymeData" class="chip based-on-text amber accent-1">{{rhyme}}</div>
		    </div>  
      </div>

	<!-- <div class="mydivider"></div> -->

      <div class="col s12 m8 l8 center hvr-glow scrollable" > <!-- Note that "m8 l9" was added -->
      	<h3>Творчество</h3>
	       <form>
	       <div class="container center-align">
		       	<div class="input-field">
		          <!-- <i class="material-icons prefix">account_circle</i> -->
		          <input type="text" id="firstline" ng-keypress="addInputField($event)" style="font-size:1.625em" class="validate flow-text">
		          </div>
	       </div>
	       
	       <div class="container center-align">
		       <div ng-repeat="input in fieldctrl.displayedInputs track by $index">
		       <input type="text" id="line{{$index}}" name="line{{$index}}" ng-model="lines[$index]" ng-keypress="addInputField($event)" style="font-size:1.625em" class="validate flow-text">
		       <!-- <ng-include src="form"></ng-include> -->
	       	   </div>
	       </div>

			<pre>{{lines | json}}</pre>

	       </form>

		<script type="text/ng-template" id="input.tpl.html">
        <input type="text" ng-keypress="addTagField($event)" style="font-size:1.625em" class="validate flow-text">
    	</script>

      </div>

    <!-- <div class="mydivider"></div> -->

      <div class="col s12 m2 l2 right hvr-glow">
      	<div class="center-align">
      	<h4>{{type}}</h4>
      	<h5>Список тегов:</h5>

		<form class="center-align" >
			<div class="row">
				<a class="btn-floating" ng-click="addTagField()"><i class="material-icons orange accent-2">add</i></a>
				<a class="btn-floating" ng-click="delTagField()"><i class="material-icons orange accent-2">remove</i></a>
		        <div ng-repeat="form in fieldctrl.displayedForms track by $index">
      			<input type="text" id="form{{$index}}" name="form{{$index}}" ng-model="forms[$index]">
    			</div>
		    </div>
			<pre>{{forms | json}}</pre>
		</form>
		</div>

		<script type="text/ng-template" id="form1.tpl.html">
        <input type="text" ng-model="tags.hashtag">
    	</script>      
		
		<div class="container center-align" style="bottom: 0; position: relative"> 
			<div class="row center-align" ng-show="usedDraft">
			<a class="col s12 waves-effect waves-light btn center-align orange accent-2" ng-click="updateDraft()">Обновить черновик</a>
			</div>
			<div class="row center-align" ng-hide="usedDraft">
				<a class="col s12 waves-effect waves-light btn center-align orange accent-2" ng-click="saveDraft()">В черновики</a>
			</div>
			<div class="row center-align">
			<a class="col s12 waves-effect waves-light btn center-align orange accent-2" ng-click="sendPoem()">Отправить</a>
			</div>
		</div>

      	</div>
      </div>


    </div>
