<div class="row" overflow="scroll" ng-controller="PoemDescriptionController as poemctrl" ng-init="doStuff()">

<div class="col s12">
        <div class="card-panel text-darken-3 yellow lighten-3">
        
        <div class="section">
        <h3 class="center-align">Что это за стих?</h3>
		<p class="flow-text">{{poeminfo.shortDes}}</p>
		</div>

		<div class="divider"></div>
		
		<div class="section center-align">
        <h3 class="center-align">Слоги в стихе</h3>
        <img class="center-align" src="{{poeminfo.path}}">
		<p class="flow-text center-align">{{poeminfo.sylRules}}</p>
		</div>

		<div class="divider"></div>

		<div class="section">
        <h3 class="center-align">Правила написания</h3>
		<div ng-repeat="rule in poeminfo.howTo">
			<blockquote class="flow-text">
	      	{{rule}}
	    	</blockquote>
    	</div>
		</div>

		<div class="divider"></div>

		<div class="section">
        <h3 class="center-align">Примеры</h3>

        	<div class="row">
		        <div ng-repeat="x in poeminfo.examples">

			      	<div class="col s12 m4">
				        <div class="card-panel yellow lighten-3">
				        	<p ng-repeat="line in x" class="blue-grey-text text-darken-3"> {{line}} </p>
			        	</div>
			    	</div>
				</div>
	        </div>
		</div>

		<div class="row">
		<div class="section">
			<a class="waves-effect waves-light btn col s10 offset-s1 yellow darken-3">Поехали</a>
		</div>
		</div>



</div>

</div>

</div>